#Extra subnets for dhcp
{% set split_ip = ansible_enp0s9.ipv4.address.split('.') %}
{% set lsv_min = split_ip[3]|int + 4 %}
{% set lsv_max = split_ip[3]|int + 8 %}
subnet {{ ansible_enp0s9.ipv4.network }} netmask {{ ansible_enp0s9.ipv4.netmask }} {
  pool
  {
    range {{ split_ip[0] }}.{{ split_ip[1] }}.{{ split_ip[2] }}.{{ lsv_min }} {{ split_ip[0] }}.{{ split_ip[1] }}.{{ split_ip[2] }}.{{ lsv_max }};
  }

  option subnet-mask {{ ansible_enp0s9.ipv4.netmask }};
}

{% set split_ip = ansible_enp0s10.ipv4.address.split('.') %}
{% set lsv_min = split_ip[3]|int + 1 %}
{% set lsv_max = split_ip[3]|int + 8 %}
subnet {{ ansible_enp0s10.ipv4.network }} netmask {{ ansible_enp0s10.ipv4.netmask }} {
  pool
  {
    range {{ split_ip[0] }}.{{ split_ip[1] }}.{{ split_ip[2] }}.{{ lsv_min }} {{ split_ip[0] }}.{{ split_ip[1] }}.{{ split_ip[2] }}.{{ lsv_max }};
  }

  option subnet-mask {{ ansible_enp0s10.ipv4.netmask }};
}

{% if network_type == "multi_network" %}

{% set split_ip = ansible_enp0s16.ipv4.address.split('.') %}
{% set lsv_min = split_ip[3]|int + 1 %}
{% set lsv_max = split_ip[3]|int + 8 %}
subnet {{ ansible_enp0s16.ipv4.network }} netmask {{ ansible_enp0s16.ipv4.netmask }} {
  pool
  {
    range {{ split_ip[0] }}.{{ split_ip[1] }}.{{ split_ip[2] }}.{{ lsv_min }} {{ split_ip[0] }}.{{ split_ip[1] }}.{{ split_ip[2] }}.{{ lsv_max }};
  }

  option subnet-mask {{ ansible_enp0s16.ipv4.netmask }};
  option routers {{ ansible_default_ipv4.gateway }};
}

{% endif %}
